
<div class="row clearfix">
    <div class="col-md-8 column">
        <h2>
            Convert an XLS to JSON or XML
        </h2>
        <form name="extractForm" role="form" >

            <div class="form-group">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-model="outputStyle" btn-radio="'XML'">XML</button>
                <button type="button" class="btn btn-primary" ng-model="outputStyle" btn-radio="'JSON'" checked>JSON</button>
            </div>
                <p>The XLS File will be converted to {{outputStyle}}</p>
            </div>

            <div class="form-group">
              <label>XlS File (*.xls)</label>
              <input type="file" ng-file-select="onFileSelect($files)">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-success" ng-click="extract()">Convert &raquo;</button>
            </div>
            <!--
            <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
                 ng-show="dropSupported">drop files here</div>
            <div ng-file-drop-available="dropSupported=true"
                 ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
            <button ng-click="upload.abort()">Cancel Upload</button>
            -->
            <div class="form-group">
              <pre id="extractorResult" ng-bind="resultData"></pre>
            </div>

            <tbody>
            <ul ng-repeat="file in filesAdded">
                <li>{{file.displayName}}({{file.shortId}}) - {{file.filesize}}</li>
            </ul>
            </tbody>
        </form>
    </div>
    <div class="col-md-4 column">
        <h2>
            Thanks!
        </h2>
        <p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <button type="button" class="btn btn-success" onclick="this.form.submit">Donate - £10 - ete is cool!</button>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form>
        </p>
    </div>
</div>